
@import "Variables/variables";
@import "MixIn/mixin";

.app-container {
    min-height: 100vh;
    width: 97%;
    display: flex;
    flex-direction: column;





}

body {
    font-family: $textFont;
    color: $Grey;
    padding: 0;

    h1{
        color: $Blue;
        font-family: $h1Font;
    }

}

main {
    flex:1
}


