.dashboard-list img,
.dashboard-list svg {
.cScale {
width: 7%;
   
}

  width: 24px; /* Set a consistent width for icons */
  height: 24px; /* Set a consistent height for icons */
  flex-shrink: 0; /* Prevent icons from shrinking */
}

